{% extends 'base.html.twig' %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('css/1.css') }}">
        {{parent()}}
        <link rel="stylesheet" href="{{ asset('css/crear.css') }}">
        <link rel="stylesheet" media="screen and (min-width: 700px)" href="{{ asset('css/crear1.css') }}">
{% endblock %}
{% block body %}
        <div class="cuerpo">
                <div class="form">
                        <h3 class="mb-3 mt-3">Crear proveedor</h3>
                        {% if error != '' %}
                                {{error}}
                        {% endif %}
                        {% for message in app.flashes('exito') %}
                                <div class="alert alert-succes">
                                        {{message}}
                                </div>
                        {% endfor %}
                        {{form_start(form)}}
                        {{form_end(form)}}
                </div>
        </div>
{% endblock %}
