{% extends 'base.html.twig' %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{ asset('css/1.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mostrar.css') }}">
{% endblock %}

{% block body %}
<div class="a">
<h1>Proveedores</h1>
{% for proveedor in proveedores %}
        <div class="b">
            <p><strong>ID Usuario: </strong>{{proveedor.id}}</p>
            <p><strong>Nombre: </strong>{{proveedor.nombre}}</p>
            <p><strong>Correo electrónico: </strong>{{proveedor.correoelectronico}}</p>
            <p><strong>Teléfono: </strong>{{proveedor.telefono}}</p>
            <p><strong>Activo: </strong>{{proveedor.activo}}</p>
    </div>
{% endfor %}
</div>

{% endblock %}