{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/1.css') }}">
        {{parent()}}
        <link rel="stylesheet" href="{{ asset('css/mostrar.css') }}">
{% endblock %}

{% block body %}
<div class="cuerpo">
<h1>Proveedores</h1>
{% for proveedor in proveedores %}
        <div class="cuerpo-info">
            <p><strong>ID Usuario: </strong>{{proveedor.id}}</p>
            <p><strong>Nombre: </strong>{{proveedor.nombre}}</p>
            <p><strong>Correo electrónico: </strong>{{proveedor.correoelectronico}}</p>
            <p><strong>Teléfono: </strong>{{proveedor.telefono}}</p>
            {% if proveedor.activo == 1 %}
                <p><strong>Activo: </strong>Si</p>                                
            {% else %}
                <p><strong>Activo: </strong>No</p>
            {% endif %}
            <p><strong>Creado: </strong>{{ proveedor.creado }}</p>
            <p><strong>Modificado: </strong>{{ proveedor.modificado }}</p>
            
    </div>
{% endfor %}
</div>

{% endblock %}